/*! project specific CSS goes here. */
body {
	background-color: #52BDE0;
}
#submit-btn {
	float: right;
	margin-top: 10px;
}

html, body {
    height: 100%;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

#over-form-text {

    color: white;
    font-family: montserrat;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
}

#logo {
    width: 100%;
    max-width: 400px;
}


#result-text {

    color: white;
    font-family: montserrat;
    width: 100%;
    text-align: center;
    font-size: 5rem;
}

.center{
    text-align: center;
}

#result-title-text {
    color: white;
    font-family: montserrat;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}