/*! project specific CSS goes here. */
body {
	background-color: #424141;
}
#submit-btn {
	float: right;
	margin-top: 10px;
}

html, body {
    height: 100%;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
