{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>lncRNA Discovery</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Demo project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bio_web.css' %}" rel="stylesheet">
	<link href="{% static 'css/buttons.css' %}" rel="stylesheet">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'js/bio_web.js' %}"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class = "main">
		<div class = "wrapper">
			<div class="container">
				<form method="post" action="/">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-4 col-md-offset-4 center">
							<img src="{% static 'images/logo.png' %}" id="logo">
						</div>
					</div>
					<div class="row">
						<p id="over-form-text">Put Long non-coding RNA here to identify</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<textarea class="form-control" rows="5" id="search-rna" name="search-rna"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 pull-right">
							<button type="submit" class="btn btn-primary btn-sm round" id="submit-btn">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript"></script>
</html>